@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = "Index";
}

<div id="message">
    @if(Session["User"] != null)
    {
    <div id="menu">
        <a class="menu write">To Write</a>
        <a class="menu inbox">Inbox</a>
        <a class="menu outbox">Outbox</a>
    </div>
        @ViewBag.Message
        if (ViewBag.Layout != null)
        {
            @RenderBody()
        }
    }
</div>