@{
    ViewBag.Title = "Outbox";
    Layout = "Index.cshtml";
    ViewBag.Layout = "Exist";
    ViewBag.Style = "Styles/Box";
    ViewBag.Script = "Main";
}

<div id="Letters">
    @foreach(MvcApplication1.Models.LetterModal item in ViewBag.Letters)
    {
        <div class="Letter">
            <div class="Whom">
                @item.UserWhom
            </div>
            <div class="Subject">
                <a class="getLetter">@item.Subject</a>
            </div>
            <input type="hidden" value="@(item.Id)" id="Id" name="Id" />
        </div>
    }
</div>
