@{
    ViewBag.Title = "To_Write";
    Layout = "Index.cshtml";
    ViewBag.Layout = "Exist";
    ViewBag.Style = "Styles/To_Write";
    ViewBag.Script = "Main";
}

<div class="Write">                    
    <form action="/Home/To_Write" method="post">
        <p>
            <text>Кому:</text>
            
            <input type="text" name="Whom" />

        </p>
        <p>
            <text>Тема:</text>
            <input type="text" name="Subject" />
        </p>
        <p>
            <text>Текст письма:</text>
        </p>
        <textarea name="Text"></textarea>
        <input id="button" type="submit" value="To Send" />
    </form>
</div>

